.button{
    background-color: #f6e58d;
    border:none;
    font-size: 20px;
    color:rgba(24, 23, 23, 0.925);
}

.userLogo{
    background-color:gold;
    border:none;
    font-size: 20px;
    color:rgba(24, 23, 23, 0.925);
    text-transform: capitalize;
}


.logoutButton{
    position: absolute;
    right:2.5rem;
    top:5.5rem;    
    display: none;
    transition:display 200ms ease-out;
}

.formControl{
    padding:1rem;
}

.formControl>label{
    width:30%;
    text-align: left;
    font-size: 20px;

}

.formControl>input{
    background-color: white;
    border:1px solid black;
    border-radius: 2px;
    padding:5px 10px;
    width:70%;
    font-size: 20px;
    color:black;
}

.submit{
    margin-left:73%;
    margin-top: 0.6rem;
}

.heading{
    margin-left: 43%;
}

.responseMssg{
    text-align: center;
    padding-top: 1rem;
    font-size: 24px;
}

.error{
    color:crimson;
}

.success{
    color: green;
}