.quantityButton{
    padding:0.5rem 1rem;
    border:1px solid #595959;
    background-color: whitesmoke;
    border-radius:3px;
    font-size: 18px;
    cursor: pointer;
}

.non-integer-button{
    background-color:#595959;
    color:white;
    font-weight: 500;
    pointer-events: stroke;
}

input.quantityButton{
    width: 44px;
    height: 44px;
    color:black;
    cursor: default;
}

.countValue{

}

.quantityChange{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.quantityBox{
    display: flex;
    max-width: 500px;
    column-gap: 2rem;
    align-items: center;
    padding:1rem 0.5rem 2rem 0.5rem;
}

.quantityHeading{
    font-size: 25px;
    font-weight: 500;
}